<%= form_for @task do |f| %>
	<%= render 'shared/error_message'%>

	<p>*<%= f.label :title %><br>
	<%= f.text_field :title %></p>

	<p><%= f.label :description %><br>
	<%= f.text_area :description %></p>

	<p><%= f.label :priority %><br>
	<%= f.select(:priority, [["Low"], ["Medium"],["High"]])  %></p>

	<p><%= f.label :due %><br>
	<%= f.text_field :due, class: "datepicker" %></p>

	<p><%= f.label :reminder %><br>
	<%= f.text_field :reminder, class: "datepicker" %></p>

	<p><%= f.submit "Publish Task", class: "btn btn-primary" %></p>

<% end %>
<script>
  $(function() {
    $( ".datepicker" ).datepicker()
  });
</script>