<p>*Due Date and Reminder Dates are currently unavailable*</p>
<%= form_for @task do |f| %>
	<%= render 'shared/error_message'%>

	<p>*<%= f.label :title %><br>
	<%= f.text_field :title %></p>

	<p><%= f.label :description %><br>
	<%= f.text_area :description %></p>

	<p><%= f.label :priority %><br>
	<%= f.select(:priority, [["Low"], ["Medium"],["High"]])  %></p>

	<p><%= f.label :due %><br>
	<%= f.text_field :due, :value => @task.due.try(:strftime, '%d/%m/%Y %H:%M'), class: "datepicker", :disabled => true %></p>

	<p><%= f.label :reminder %><br>
	<%= f.text_field :reminder, :value => @task.reminder.try(:strftime, '%d/%m/%Y %H:%M'), class: "datepicker", :disabled => true %></p>

	<p><%= f.submit "Publish Task", class: "btn btn-primary" %></p>

<% end %>
<script>
	$( ".datepicker" ).datetimepicker();
</script>