<% if @tasks %>
	<div id="incompleted-tasks">
	<h3>Current Tasks</h3>
	<% @tasks.each do |task| %>
		<% if task.complete == false %>
			<div class="panel panel-<%= task.priority %>">
				<div class="panel-heading">
						<div class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= task.id %>">
							<%= task.title %> <span class="glyphicon glyphicon-pushpin"></span>
						</a>

						<div class="right">
							<%= form_for task do |f| %>
								<%= f.hidden_field :complete, :value => true %>
								<%= f.submit "Complete", class: "btn btn-default btn-sm" %>
							<% end %>
						</div>
					</div>
				</div>
				<div id="collapse<%= task.id %>" class="panel-collapse collapse">
					<div class="panel-body">
						<% if task.description != "" %><p>Description: <%= task.description %></p><% end %>
						<p>Priority: <%= task.priority %></p>
						<% if task.due %><p>Due Date: <%= task.due.strftime '%m/%d/%Y %I:%M' %></p><% end %>
						<% if task.reminder %><p>Reminder Time: <%= task.reminder.strftime '%m/%d/%Y %I:%M' %></p><% end %>
						<p><%= link_to '', task_path(task), method: :delete, data: { confirm: 'Are you sure you want to delete your account?' }, class: "glyphicon glyphicon-trash" %>&nbsp;
						<%= link_to '', edit_task_path(task), class: "glyphicon glyphicon-edit" %></p>
						
					</div>
				</div>
			</div>
		<% end %>
	<% end %>
	</div>


	<div id="completed-tasks">
	<h3>Complete Tasks</h3>
		<% @tasks.each do |task| %>
			<% if task.complete %>
			<div class="panel panel-<%= task.priority %>">
				<div class="panel-heading">
						<div class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= task.id %>">
							<%= task.title %> <span class="glyphicon glyphicon-pushpin"></span>
						</a>
						
						<div class="right">
							<%= form_for task do |f| %>
								<%= f.hidden_field :complete, :value => false %>
								<%= f.submit "Incomplete", class: "btn btn-default btn-sm" %>
							<% end %>
						</div>
					</div>
				</div>
				<div id="collapse<%= task.id %>" class="panel-collapse collapse">
					<div class="panel-body">
						<% if task.description %><p>Description: <%= task.description %></p><% end %>
						<p>Priority: <%= task.priority %></p>
						<% if task.due %><p>Due Date: <%= task.due.strftime '%m/%d/%Y %I:%M' %></p><% end %>
						<% if task.reminder %><p>Reminder Time: <%= task.reminder.strftime '%m/%d/%Y %I:%M' %></p><% end %>
						<p><%= link_to '', task_path(task), method: :delete, data: { confirm: 'Are you sure you want to delete your account?' }, class: "glyphicon glyphicon-trash" %> &nbsp;
						<%= link_to '', edit_task_path(task), class: "glyphicon glyphicon-edit" %></p>
					</div>
				</div>
			</div>
			<% end %>
		<% end %>
	</div>
<% end %>
