<% if @tasks %>
	<% for task in @tasks %>
		<% if task.priority = "Low" %>
			<div class="panel panel-success">
				<div class="panel-heading">
						<div class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= task.id %>">
							<%= task.title %>
						</a>
						<% if task.description || task.due || task.reminder %>
							<span class="glyphicon glyphicon-pushpin"></span>
						<% end %>
						
						<div class="right">
							<%= form_for task do |f| %>
								Complete: <%= f.check_box :complete %>
							<% end %>
						</div>
					</div>
				</div>
				<div id="collapse<%= task.id %>" class="panel-collapse collapse in">
					<div class="panel-body">
						<p>Description: <%= task.description %></p>
						<p>Priority: <%= task.priority %></p>
						<p>Due Date: <%= task.due %></p>
						<p>Reminder Time: <%= task.reminder %></p>
						<p>Complete: <%= task.complete ? 'Yes' : 'No' %></p>
						<p><%= link_to '', task_path(task.id), method: :delete, data: { confirm: 'Are you sure you want to delete your account?' }, class: "btn btn-large glyphicon glyphicon-trash" %>
						<%= link_to '', edit_task_path(task.id), class: "glyphicon glyphicon-pencil" %></p>
						
					</div>
				</div>
			</div>
		<% elsif task.priority = "Medium" %>
			<div class="panel panel-warning">
				<div class="panel-heading">
						<div class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= task.id %>">
							<%= task.title %>
						</a>
						<% if task.description || task.due || task.reminder %>
							<span class="glyphicon glyphicon-pushpin"></span>
						<% end %>
						
						<div class="right">
							<%= form_for task do |f| %>
								Complete: <%= f.check_box :complete %>
							<% end %>
						</div>
					</div>
				</div>
				<div id="collapse<%= task.id %>" class="panel-collapse collapse in">
					<div class="panel-body">
						<p>Description: <%= task.description %></p>
						<p>Priority: <%= task.priority %></p>
						<p>Due Date: <%= task.due %></p>
						<p>Reminder Time: <%= task.reminder %></p>
						<p>Complete: <%= task.complete ? 'Yes' : 'No' %></p>
						<p><%= link_to '', task_path(task.id), method: :delete, data: { confirm: 'Are you sure you want to delete your account?' }, class: "btn btn-large glyphicon glyphicon-trash" %>
						<%= link_to '', edit_task_path(task.id), class: "glyphicon glyphicon-pencil" %></p>
						
					</div>
				</div>
			</div>
		<% elsif task.priority = "High" %>
			<div class="panel panel-danger">
				<div class="panel-heading">
						<div class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= task.id %>">
							<%= task.title %>
						</a>
						<% if task.description || task.due || task.reminder %>
							<span class="glyphicon glyphicon-pushpin"></span>
						<% end %>
						
						<div class="right">
							<%= form_for task do |f| %>
								Complete: <%= f.check_box :complete %>
							<% end %>
						</div>
					</div>
				</div>
				<div id="collapse<%= task.id %>" class="panel-collapse collapse in">
					<div class="panel-body">
						<p>Description: <%= task.description %></p>
						<p>Priority: <%= task.priority %></p>
						<p>Due Date: <%= task.due %></p>
						<p>Reminder Time: <%= task.reminder %></p>
						<p>Complete: <%= task.complete ? 'Yes' : 'No' %></p>
						<p><%= link_to '', task_path(task.id), method: :delete, data: { confirm: 'Are you sure you want to delete your account?' }, class: "btn btn-large glyphicon glyphicon-trash" %>
						<%= link_to '', edit_task_path(task.id), class: "glyphicon glyphicon-pencil" %></p>
						
					</div>
				</div>
			</div>
		<% end -%>
			
			

	<% end %>
<% end %>