<!DOCTYPE html>
<html>
<head>
  <title>To-Do</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.9.1.js"></script>
  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

<script src='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/1.6.4/fullcalendar.min.js'></script>
  <link rel="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/1.6.4/fullcalendar.css">

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <!-- meta info for phone app image and such -->
  <meta name="mobile-web-app-capable" content="yes">
  <%= favicon_link_tag 'todo-logo-iphone-196x196.png', :rel => 'shortcut icon', :type => 'image/png', :sizes => "196x196" %>
  <%= favicon_link_tag 'todo-logo-iphone-60x60.png', :rel => 'apple-touch-icon', :type => 'image/png' %>
  <%= favicon_link_tag 'todo-logo-iphone-76x76.png', :rel => 'apple-touch-icon', :type => 'image/png', :sizes => "76x76" %>
  <%= favicon_link_tag 'todo-logo-iphone-120x120.png', :rel => 'apple-touch-icon', :type => 'image/png', :sizes => "120x120" %>
  <%= favicon_link_tag 'todo-logo-iphone-152x152.png', :rel => 'apple-touch-icon', :type => 'image/png', :sizes => "152x152" %>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <!-- end meta info for iphone app image and such -->
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
<script src="https://rawgithub.com/trentrichardson/jQuery-Timepicker-Addon/master/dist/jquery-ui-timepicker-addon.js"></script>
<script src="https://rawgithub.com/trentrichardson/jQuery-Timepicker-Addon/master/dist/jquery-ui-sliderAccess.js"></script>
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/themes/smoothness/jquery-ui.css" type="text/css" media="all" />
<link rel="stylesheet" href="https://rawgithub.com/trentrichardson/jQuery-Timepicker-Addon/master/dist/jquery-ui-timepicker-addon.css" type="text/css" />


<%= javascript_tag do %>
$(document).ready(function() {

  $('#calendar').fullCalendar({
    events: [
      <% if @tasks %>
        <% @tasks.each do |task| %>
          <% if task.complete == false %>
          <% if task.due %>
            {
              title  : "<%= task.title %>",
              start  : "<%= task.due.strftime '%d/%m/%Y %H:%M:%S' %>",
              <% if task.priority == 'Low' %>
                borderColor : "#bce8f1",
                backgroundColor :"#d9edf7"
              <% elsif task.priority == 'Medium' %>
                borderColor : "#faebcc",
                backgroundColor :"#fcf8e3"
              <% else task.priority == 'High' %>
                borderColor : "#ebccd1",
                backgroundColor : "#f2dede"
              <% end %>
            },
          <% end %>
          <% end %>
        <% end %>
      <% end %>
    ],
    
  });
});
<% end %>

</head>
<body>
<%= render 'shared/header'%>
<div id="body">
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>
</div>
</body>
</html>
